{
    "openapi": "3.0.3",
    "info": {
        "title": "Manually Created Free Bible API",
        "version": "1.0.0",
        "description": "By Ponìto"
    },
    "servers": [
        {
            "url": "https://bible.helloao.org"
        }
    ],
    "paths": {
        "/api/{translation}/{book}/{chapter}.json": {
            "get": {
                "summary": "Get a specific chapter of a Bible translation",
                "parameters": [
                    {
                        "name": "translation",
                        "in": "path",
                        "required": true,
                        "description": "The translation ID (e.g., 'cmn_cuv')",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "book",
                        "in": "path",
                        "required": true,
                        "description": "The book ID (e.g., 'GEN')",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "chapter",
                        "in": "path",
                        "required": true,
                        "description": "The chapter number",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ChapterBody"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "ChapterBody": {
                "type": "object",
                "properties": {
                    "translation": {
                        "$ref": "#/components/schemas/Translation"
                    },
                    "book": {
                        "$ref": "#/components/schemas/Book"
                    },
                    "chapter": {
                        "$ref": "#/components/schemas/Chapter"
                    },
                    "numberOfVerses": {
                        "type": "integer"
                    }
                }
            },
            "Translation": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "numberOfBooks": {
                        "type": "integer"
                    },
                    "languageName": {
                        "type": "string"
                    }
                }
            },
            "Book": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "numberOfChapters": {
                        "type": "integer"
                    }
                }
            },
            "Chapter": {
                "type": "object",
                "properties": {
                    "number": {
                        "type": "integer"
                    },
                    "content": {
                        "type": "array",
                        "items": {
                            "oneOf": [
                                {
                                    "$ref": "#/components/schemas/Verse"
                                },
                                {
                                    "$ref": "#/components/schemas/Heading"
                                }
                            ]
                        }
                    }
                }
            },
            "Verse": {
                "type": "object",
                "properties": {
                    "type": {
                        "type": "string"
                    },
                    "number": {
                        "type": "integer"
                    },
                    "content": {
                        "type": "array",
                        "items": {
                            "oneOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "$ref": "#/components/schemas/Heading"
                                },
                                {
                                    "$ref": "#/components/schemas/Poem"
                                },
                                {
                                    "$ref": "#/components/schemas/LineBreak"
                                }
                            ]
                        }
                    }
                }
            },
            "Poem": {
                "type": "object",
                "properties": {
                    "text": {
                        "type": "string"
                    },
                    "poem": {
                        "type": "integer"
                    }
                }
            },
            "LineBreak": {
                "type": "object",
                "properties": {
                    "lineBreak": {
                        "type": "boolean"
                    }
                }
            },
            "Heading": {
                "type": "object",
                "properties": {
                    "type": {
                        "type": "string"
                    },
                    "content": {
                        "type": "string"
                    }
                }
            }
        }
    }
}